<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dokumentation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="navbar-elem-hover.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>

    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="media/bildbearbeitung.png" alt="Logo" height="50" width="50"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Zeige Navbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="/">Home</a>
              <a class="nav-link active" href="/documentation">Dokumentation</a>
              <a class="nav-link" href="/reference">Referenzen</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/login"><button class="btn btn-outline-info">Login</button></a>
                <a class="nav-link" href="/signup"><button class="btn btn-outline-success">Signup</button></a>
            </div>
          </div>
        </div>
    </nav>

    <!--Dokumentation-->
    <div class="m-5">
      <div class="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#welcomeInfo" aria-expanded="true" aria-controls="welcomeInfo">
              Willkommensseite
            </button>
          </h2>
          <div id="welcomeInfo" class="accordion-collapse collapse show">
            <div class="accordion-body">
              Wird die Website in dem Browser des Clients aufgerufen, so gelangt man zunächst auf die Willkommensseite. Im oberen Bereich befindet sich ein Navigationsmenü. Hier kann unter den Reitern „Home“, „Dokumentation“ und „Referenzen“ gewählt werden. Unter der Option „Home“ befindet sich die Willkommensseite. Diese Dokumentation kann über die Option „Dokumentation“ erreicht werden. Unter „Referenzen“ können Informationen zu dem Entwicklerteam abgerufen werden. Folgt man dem Navigationsmenü bis zum rechten Bildschirmrand, so befinden sich dort die zwei Buttons „Login“ und „Signup“. Unter der Option „Login“ kann man sich in ein bereits bestehendes Nutzerkonto einloggen. Um ein neues Konto zu erstellen, muss die Option „Signup“ gewählt werden. Nachdem alle erforderlichen Informationen angegeben wurden und die Erstellung des Kontos erfolgreich war, wird man aufgefordert sich mit dem neu erstellten Konto einzuloggen. War der Login erfolgreich, so gelangt man in den privaten Benutzerbereich. 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#benutzerOberflaecheInfo" aria-expanded="false" aria-controls="benutzerOberflaecheInfo">
              Benutzeroberfläche
            </button>
          </h2>
          <div id="benutzerOberflaecheInfo" class="accordion-collapse collapse">
            <div class="accordion-body">
              Auf der „Home“-Seite der Benutzeroberfläche befindet sich ebenfalls die Bildergalerie. Zu Beginn sind hier natürlich noch keine Bilder zu sehen. Allerdings können unter der Option „Upload“ im Navigationsmenü Bilder hochgeladen werden. Anschließend sind diese in der Galerie sichtbar. Unter dem Menüpunkt „Profil“ können Informationen über das eigene Benutzerkonto eingesehen bzw. verändert werden. Zusätzlich kann das Benutzerkonto hier ebenfalls gelöscht werden. Um sich aus seinem Benutzerkonto abzumelden, muss der den Button „Abmelden“ am rechten Bildschirmrand betätigt werden. Soll ein Bild bearbeitet werden, so muss man es zunächst anklicken. Anschließend öffnet sich ein kleines Fenster in der Mitte des Bildschirms. Dieses Fenster enthält das ausgewählte Bild in einem kleinen Format und bietet unterhalb die Optionen „Bearbeiten“, „Herunterladen“ und „Löschen“ an. Wird die Option „Bearbeiten“ ausgewählt, so öffnet sich die Bearbeitungsoberfläche. 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bearbeitungsOberflaecheInfo" aria-expanded="false" aria-controls="bearbeitungsOberflaecheInfo">
              Bearbeitungsoberfläche
            </button>
          </h2>
          <div id="bearbeitungsOberflaecheInfo" class="accordion-collapse collapse">
            <div class="accordion-body d-block">
              Oben links findet sich hier ein Button um die Bearbeitungsoberfläche wieder zu verlassen. Daneben befinden sich verschiedene Möglichkeiten, das Bild zu bearbeiten. Unter der Option „Filter“ kann man zwischen Sepia- und Graufilter sowie einer Farbinvertierung wählen. Hier genügt ein einfacher Klick auf die präferierte Option um das Bild einzufärben. Bei den anderen Optionen (z.B. Helligkeit, Kontrast, etc.) wird unter dem Bild entweder ein Slider, ein Eingabefeld oder ein Selectfeld angezeigt. Hier müssen zusätzliche Parameter übergeben werden. Um die Aktion auszuführen muss anschließend der Button „Absenden“ angeklickt werden. Entscheidet man sich plötzlich doch dagegen, so kann die jeweilige Eingabefläche durch „Abbrechen“ wieder entfernt werden. Nachdem das Bild bearbeitet wurde, wird es wieder in der Bearbeitungsoberfläche angezeigt. Ist die Bearbeitung abgeschlossen, so kann über die Buttons „Speichern“ und „Verwerfen“ entschieden werden, ob das Bild gespeichert oder doch verworfen werden soll. Wird das Bild gespeichert, so verlässt man die Bearbeitungsoberfläche und gelangt wieder zu der Bildergalerie. Wird das Bild hingegen verworfen, gelangt man zu dem ursprünglichen Bild in der Bearbeitungsoberfläche zurück. 
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Footer-->
    <footer class="container">
        <p class="float-end">
          <a href="#">Zur&uuml;ck nach oben</a>
        </p>
        <p>
          © 2024
        </p>
        <p>
          <a href="https://www.flaticon.com/de/kostenlose-icons/photoshop" title="photoshop Icons">Photoshop Icons erstellt von Smashicons - Flaticon</a>
        </p>
      </footer>
  </body>
</html>