<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referenzen</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="navbar-elem-hover.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>
    <!--Navbar 
    1) Home
    2) Dokumentation
    3) Referenzen
    4) Login
    5) Signup
    -->

    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="media/bildbearbeitung.png" alt="Logo" height="50" width="50"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Zeige Navbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/documentation">Dokumentation</a>
              <a class="nav-link" href="/reference">Referenzen</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/login"><button class="btn btn-outline-info">Login</button></a>
                <a class="nav-link" href="/signup"><button class="btn btn-outline-success">Signup</button></a>
            </div>
          </div>
        </div>
      </nav>

      <div class="container">
        <h1 class="mt-5 mb-4 text-center">Unsere Referenzen</h1>
        <div class="row mb-4">
          <div class="col-md-4">
            <div class="card person-card">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="Person 1">
              <div class="card-body">
                <h5 class="card-title text-center">Brandt, Alexei</h5>
                <p class="card-text text-center">Studiengang: Kommunikations&shy;informatik</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card person-card">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="Person 2">
              <div class="card-body">
                <h5 class="card-title text-center">Freyermuth, Alejandro</h5>
                <p class="card-text text-center">Studiengang: Kommunikations&shy;informatik</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card person-card">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="Person 3">
              <div class="card-body">
                <h5 class="card-title text-center">Girlinger, Maik</h5>
                <p class="card-text text-center">Studiengang: Kommunikations&shy;informatik</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!--Footer-->
    <footer class="container">
      <p class="float-end">
        <a href="#">Zur&uuml;ck nach oben</a>
      </p>
      <p>
        © 2023
      </p>
      <p>
        <a href="https://www.flaticon.com/de/kostenlose-icons/photoshop" title="photoshop Icons">Photoshop Icons erstellt von Smashicons - Flaticon</a>
      </p>
    </footer>
</body>
</html>
