#gear:hover{
    cursor: pointer;
    transform: rotate(30deg);
}

#selectibleOption{
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
}